* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 25px;
}
#logo {
  color: white;
  background-color: purple;
  height: 100px;
  border-radius: 50px;
  padding: 30px 10px 10px 15px;

  /* margin-right: 20%; */
}
#logo:hover {
  transform: rotate(30deg);
}
#search {
  display: flex;
}
input[type="search"] {
  margin-top: 20px;
  width: 400px;
  height: 50px;
  font-size: 15px;
  padding: 0 10px;
  outline: none;
}
button {
  background-color: purple;
  height: 50px;
  color: white;
  border: none;
  width: 100px;
  padding-bottom: px;
  font-size: 20px;
  margin-top: 20px;
}
#icons {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
#icons a {
  text-decoration: none;
}
#icons p {
}
nav {
  margin-top: 25px;
  height: 50px;
  background-color: purple;
  font-size: 25px;
  display: flex;
}
nav:hover {
}
nav > div > a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
a:hover {
  color: palevioletred;
}
#left-nav {
  width: 60%;
  display: flex;
  padding-left: 10px;
  justify-content: space-between;
  align-items: center;
}
#right-nav {
  width: 40%;
  display: flex;
  padding-left: 100px;
  justify-content: space-evenly;
  align-items: center;
}
h1 {
  margin-left: 45%;
  margin-top: 25px;
}
#services {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
}
#services p {
  margin-left: 35px;
}
img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
footer h2 {
  margin: 50px 20% 50px 40%;
}
footer p {
  margin: 0 20% 50px 35%;
}
span {
  color: palevioletred;
}
